.content{
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .content {
        width: 60%;
    }
}

@media screen and (max-width: 1024px) {
    .content {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .fbBox, .twitterBox, .instaBox, .whatsappBox, .linkedinBox, .mediumBox{
        width: 30%;
    }
}

@media screen and (max-width: 1024px) {
    .fbBox, .twitterBox, .instaBox, .whatsappBox, .linkedinBox, .mediumBox{
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .fbBox, .twitterBox, .instaBox, .whatsappBox, .linkedinBox, .mediumBox{
        width: 45%;
    }
}

@media screen and (max-width: 480px) {
    .fbBox, .twitterBox, .instaBox, .whatsappBox, .linkedinBox, .mediumBox{
        width: 90%;
    }
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.25rem 0;
   
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fbBox, .twitterBox, .instaBox, .whatsappBox, .linkedinBox, .mediumBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #fff;
    padding: 25px;
    margin: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

i{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 10px;
}

.fbBox:hover{
    background-color: #1877F2;
    border: 1px solid #1877F2;
    color: #fff;
    cursor: pointer;
    box-shadow: 
    0 0 7px #1877F2,
    0 0 10px #1877F2,
    0 0 21px #1877F2,
    0 0 42px #1877F2,
    0 0 82px #1877F2,
    0 0 92px #1877F2,
    0 0 102px #1877F2,
    0 0 151px #1877F2;
}

.whatsappBox:hover{
    background-color: #25D366;
    border: 1px solid #25D366;
    color: #fff;
    cursor: pointer;
    box-shadow: 
    0 0 7px #25D366,
    0 0 10px #25D366,
    0 0 21px #25D366,
    0 0 42px #25D366,
    0 0 82px #25D366,
    0 0 92px #25D366,
    0 0 102px #25D366,
    0 0 151px #25D366;
}

.instaBox:hover{
    background-color: #E1306C;
    border: 1px solid #E1306C;
    color: #fff;
    cursor: pointer;
    box-shadow: 
    0 0 7px #E1306C,
    0 0 10px #E1306C,
    0 0 21px #E1306C,
    0 0 42px #E1306C,
    0 0 82px #E1306C,
    0 0 92px #E1306C,
    0 0 102px #E1306C,
    0 0 151px #E1306C;
}

.twitterBox:hover{
    background-color: #1DA1F2;
    border: 1px solid #1DA1F2;
    color: #fff;
    cursor: pointer;
    box-shadow: 
    0 0 7px #1DA1F2,
    0 0 10px #1DA1F2,
    0 0 21px #1DA1F2,
    0 0 42px #1DA1F2,
    0 0 82px #1DA1F2,
    0 0 92px #1DA1F2,
    0 0 102px #1DA1F2,
    0 0 151px #1DA1F2;
}

.linkedinBox:hover{
    background-color: #1666C5;
    border: 1px solid #1666C5;
    color: #fff;
    cursor: pointer;
    box-shadow: 
    0 0 7px #1666C5,
    0 0 10px #1666C5,
    0 0 21px #1666C5,
    0 0 42px #1666C5,
    0 0 82px #1666C5,
    0 0 92px #1666C5,
    0 0 102px #1666C5,
    0 0 151px #1666C5;
}


.mediumBox:hover{
    background-color: #0a1411;
    border: 1px solid #0a1411;
    color: #fff;
    cursor: pointer;
    box-shadow: 
    0 0 7px #0a1411,
    0 0 10px #0a1411,
    0 0 21px #0a1411,
    0 0 42px #0a1411,
    0 0 82px #0a1411,
    0 0 92px #0a1411,
    0 0 102px #0a1411,
    0 0 151px #0a1411;
}


.footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a > h3{
    cursor: pointer;
}



body::-webkit-scrollbar {
    width: 3px;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: rgb(48, 48, 48);
    outline: 1px solid rgb(39, 72, 105);
}



